/*
		1. reset - estilos del user-agent
		2. etiquetas - dar estilo base a todos los tags
		3. clases comunes
		4. layouts - secciones de la web (cabeceras, menus...)
		5. media Querys para RWD

*/

body{
	
	margin: 0;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

a{
	color:#003580;
	line-height: 1;
}

header{
	display:block;
}

a:hover{
	background-color: white;
	
}
a:link{
	color:yellow;
}

footer{
	background-color: #DDD;
	padding: 20px;
	margin-top: 30px;
}
code{
	color: white;
	background-color: black;
}

h1{
	color:#ffffff;
	margin-left: 1.4em;
}
.intro{
	color:blue;
}

h2{
	color:blue;
}

p{
	font-family: Arial;
}

.ejemplo{
	color: red;
	font-style: bold;
}
#principal{
		background-color: #003580;
		height: 50px;
	
}
.content{
	max-width: 1024px;
	margin:auto;/*centrado en horizontal*/
	
}
main.content{
	padding-top: 43px;
	
}


div{
	display: block;
}

.container{
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.menu a{
	text-decoration: none;
	line-height: 1;
}

.menu .active a{
	background-color: #003580;
	color:#fff;
	border-radius: 2px;
	padding: 3px 8px;
}

.menu li {
    font-size: 12px;
    font-weight: 1000;
    margin-right: 28px;
    text-transform: uppercase;
}

.menu ul {
	display:inline;
    align-items: center;
    height: 32px;
    list-style: none;
    padding: 0;
    margin-left: 2em;

          
}

.m-b-0 {
    margin-bottom: 0!important;
}
.d-flex, .metric {
    display: flex!important;
}

.menu{
	background-color: #f7f7f7;
	width: 100%;
	position: static;
	border-bottom: 1px solid #dee0e2;
	transition:box-shadow .28s cubic-bezier(.4,0,.2,1);
	z-index: 10000;
}





ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}




header{
	height: 28px;
}