/*

NUESTRA HOJA DE ESTILOS PRINCIPAL
#principal a:hover sirve para darle un efecto de animacion a un enlace

*/

h1{
	color:#ff8080;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 1px 4px 25px 9px;
}

body{
	background-color:black
}

.form { 
  color: yellow;
}

.videos { 
  color: #00ff00;
}

.perro:hover{ 
	transition-animation:2s;
	
}